<a href="https://colab.research.google.com/github/Kongalmengi/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리
- Dictionary : 영어 및 국어 사전
- 구성 : key-value, keyword(=key), 결과값(=value)
  + 문자열, 리스트, tuple : 데이터 조회시, 인덱싱 또는 슬라이싱
  + 딕셔너리에서 값을 조회하는 방법은 key 값을 조회
  + key값은 이름, 학년, 나이 따위, value값은 해당 key값에 대응하는 데이터값.

In [ ]:
# 나라 - 수도 이름
country_capital = {
    "대한민국" : "서울",
    "독일" : "베를린",
    "영국" : "런던",
    "프랑스" : "파리"
}

country_capital

{'대한민국': '서울', '독일': '베를린', '영국': '런던', '프랑스': '파리'}

In [ ]:
# 딕셔너리에서 value값을 조회하는 방법은 key값을 통해 조회
country_capital["대한민국"]

'서울'

In [ ]:
country_capital["한국"] # 이렇게 하면 에러가 뜬다. 당연히 해당 값은 없으니까.
# 추가로, key값은 중복으로 만들 수 없다.

KeyError: ignored

In [ ]:
data = {1:'버스', 3:'비행기'}
data[1] # 여기서 숫자1은 인덱스 번호와는 다르다. 정보가 부여된 값임.

'버스'

In [ ]:
data2 = {'list1' : [1, 2, 3], 'list2' : [4, 5, 6]}
data2

{'list1': [1, 2, 3], 'list2': [4, 5, 6]}

In [ ]:
data3 = {'list1' : [1, 2, 3], 'list2' : [4, 5, 6], 1 : '테스트', 2 : 100}
data3 # 여러 자료형이 이렇게 섞여서 들어가는 것도 가능하다.

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: '테스트', 2: 100}

## 딕셔너리 사용처
- 데이터 분석 : 엑셀 테이블
  + 1억개, 데이터 가공 (최소 1-2시간 가공작업)
  + 임시테이블을 만들기도 한다 함.

- HTML, CSS, 인터넷 자료형 중, JSON 데이터 포맷
- JSON 데이터 포맷 >> 딕셔너리와 동일
  + API 데이터 크롤링, 기본 자료형(JSON) >> 딕셔너리 변환, 변환 후 데이터 가공

# 이하 외출 후에 받은 내용

In [ ]:
import pandas as pd

# 이 데이터가 있음
data = {
    'A' : [1, 2, 3],
    'B' : [4, 5, 6]
}

df = pd.DataFrame(data)

# 데이터 가공 연습 ==> 1억개 데이터 적용
df

   A  B
0  1  4
1  2  5
2  3  6

## 딕셔너리 다루기
- 딕셔너리의 value 값 수정하는 방법

In [ ]:
# 내가 좋아하는 도시 이름
country_capital['대한민국'] = '부산'
country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [ ]:
# del
del country_capital['영국']
country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴'}

In [ ]:
country_capital['프랑스'] = None
country_capital

{'대한민국': '부산', '프랑스': None, '미국': '워싱턴'}

In [ ]:
country_capital['일본'] = '도쿄'
country_capital

{'대한민국': '부산', '프랑스': None, '미국': '워싱턴', '일본': '도쿄'}

## 딕셔너리 메서드

In [2]:
country_capital = {
    "대한민국" : "서울",
    "프랑스" : "파리",
    "미국" : "워싱턴",
    "영국" : "런던"
}

In [ ]:
print(type(country_capital)) # 딕셔너리 객체
# 딕셔너리가 보유한 클래스 메서드를 사용할 수 있음
result = country_capital.keys()
result.append('독일')

<class 'dict'>

AttributeError: ignored

In [ ]:
result = list(country_capital.keys())
result.append('독일')

In [ ]:
result

['대한민국', '프랑스', '미국', '영국', '독일']

In [ ]:
# 딕셔너리에서 키 전체를 리스트 형태로 반환
print(type(country_capital.keys()))

<class 'dict_keys'>

In [ ]:
# 데이터 형변환
list(country_capital.keys())

['대한민국', '프랑스', '미국', '일본']

In [ ]:
country_capital.values()

dict_values(['부산', None, '워싱턴', '도쿄'])

In [ ]:
country_capital.items()

dict_items([('대한민국', '부산'), ('프랑스', None), ('미국', '워싱턴'), ('일본', '도쿄')])

In [ ]:
new_df = {
    '중국' : '베이징', '필리핀' : '마닐라', '호주' : '캔버라'
}
country_capital.update(new_df)
country_capital

{'대한민국': '부산',
 '프랑스': None,
 '미국': '워싱턴',
 '일본': '도쿄',
 '중국': '베이징',
 '필리핀': '마닐라',
 '호주': '캔버라'}

In [ ]:
country_capital.clear() # 빈 Dictionary 생성
country_capital

{}

# If 조건문
- 만약 A라면 ~일 것이다
- 프로그래밍에서 조건문
  + 만약 조건이 True라면 ~를 해라
  + 참과 거짓을 만드는 것이 포인트

In [ ]:
x = int(input("점수를 입력하세요")) # 문자를 숫자로 형변환
if x >= 90: ### <- 조건문을 여러분들이 직접 설계하는 것이 포인트!
  # 코드블록
  print("합격")

점수를 입력하세요81

- 조건문을 문장으로 먼저 만드는 훈련을 하는 것이 중요함
  +

In [ ]:
x = int(input("점수를 입력하세요")) # 문자를 숫자로 형변환
if x >= 90: ### <- 조건문을 여러분들이 직접 설계하는 것이 포인트!
  print("합격")
  # ㅇㅁ
  # ㅇㅁㄹㅇ
  # ㅁㅇㅁㄹ
  print(x)

else:
  print("불합격")

점수를 입력하세요90
합격
90

In [ ]:
x = int(input("점수를 입력하세요")) # 문자를 숫자로 형변환
if x >= 90: ### <- 조건문을 여러분들이 직접 설계하는 것이 포인트!
  print("합격")

elif x >= 80:
  print("부분합격, 면접 필요")

else:
  print("불합격")

점수를 입력하세요85
부분합격, 면접 필요

# 문제
- 학생 성적에 따라서 여러분들이 등급을 정합니다. 점수는 0에서 100점
- A, B, C, D, F
  + 조건식은 여러분들이 직접 임의로 작성
- 조건문
  + 첫 번째 조건 : 점수가 90점 이상이어야 함
  + 두 번째 조건 : 점수가 75점 이상이어야 함

# 이상 외출 후에 받은 내용

In [ ]:
x = int(input("점수를 입력하세요")) # 문자를 숫자로 형변환

if x >= 90: # 경계값으로 테스트하는 것이 좋음
  print("A등급")

elif x >= 75:
  print("B등급")
else:
  print("아직 값을 정하지 못함")

점수를 입력하세요99
A등급

In [ ]:
# 추가로 조건문에 and 명령어를 이용하여 몇 이상, 그리고 몇 이하 이런 식으로 이중 조건을 줄 수도 있다.
# 추가 참고 : 코드 열이 맞지 않아 오류가 나는 경우, 그 문제의 위치를 찾기 힘들 때 : shift + tap키를 쓰면 정렬되어 문제가 해결된다.

In [ ]:
# 중첩 조건문
# if 조건문 내부에 또 다른 조건문 생성
x = int(input("점수를 입력하세요"))

# 100점 맞은 사람이 있으면 '장학금' 출력
# 합격을 받은 사람들 중에서 100점인 사람인 경우 장학금을 주겠다.
if x >=90:

  if x == 100: # 조건문 내부에 또 조건문을 만든 것임.
    print("장학금 수여")

  else:
    print("합격")

else:
  print("불합격")

점수를 입력하세요99
합격

# 반복문
- for loop, while
- 반복문의 필요성

In [ ]:
# Hello Python 10번 출력해서 가져오세요

print("Hello Python")

# 이걸 10번 복사해 넣으면 가능할 수도 있음. 하지만 반복숫자가 많이 크면 문제가 생김. 이런 경우에 반복출력을 위해 for loop가 필요.

In [ ]:
for i in range(10): # range 내의 숫자만큼 반복
  print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

## for loop 특징
- 반복 범위가 주어짐

In [ ]:
for i in range(3):
  print(f'{i}번째 Hello Python') # ???????????? 요 물결 괄호의 의미를 다시 알아보자. 어제 배운 지역변수 설정과 관련 있는 것 같음.

0번째 Hello Python
1번째 Hello Python
2번째 Hello Python

- 반복 범위 지정 시, 시퀀스 자료형도 사용 가능
  + 오늘 블로그 주제 : 시퀀스 자료형에 대해 정리
  + 시퀀스 자료 중에 대표적인 것이 리스트, 문자열

In [ ]:
# list형 되는지
nums = [1, 2, 3, 4, 5]
for num in nums:
  print(num)

1
2
3
4
5

In [ ]:
# 문자열 되는지
strings = "Hello"
for text in strings:
  print(text)

H
e
l
l
o

In [ ]:
# 튜플 되는지
tuples = (1, 2, 3, 4)
for num in tuples :
  print(num)

1
2
3
4

In [3]:
x = '대한민국'
country_capital[x]

'서울'

In [4]:
x = '프랑스'

print(f'대한민국의 수도는 서울이다')
print(f'{x}의 수도는 서울이다')
print(f'{x}의 수도는 {country_capital[x]}이다')

대한민국의 수도는 서울이다
프랑스의 수도는 서울이다
프랑스의 수도는 파리이다

In [ ]:
# 오늘 배운 딕셔너리 되는지

country_capital

for country in country_capital:
  print(country) # key 값만 출력, 만약 value값을 원하는 경우에는? 그러니까 국가명이 아닌, 수도명을 뽑고싶은 경우는?
  print(f'{country}의 수도는 {country_capital[country]}이다') # ???????????? f스트링은 어떤 의미를 갖는가?

대한민국
대한민국의 수도는 서울이다
프랑스
프랑스의 수도는 파리이다
미국
미국의 수도는 워싱턴이다
영국
영국의 수도는 런던이다

In [5]:
# 중첩 for문
# 반복문 내 또 다른 반복문
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

# print('x1 y1')
# print('x1 y2')
# print('x2 y1')
# print('x2 y2')

for x in x_list:
  #print(x)
  for y in y_list:
    print(x, y)

x1 y1
x1 y2
x2 y1
x2 y2

## 구구단

In [6]:
x = 2
y = 1
f'{x} * {y} = {x * y}'

'2 * 1 = 2'

In [11]:
# 구구단을 만들어보자

x_list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
y_list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for xx in x_list2:
  for yy in y_list2:
    k = f'{xx} * {yy} = {xx * yy}'
    print(k)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [13]:
# 위의 결과를 range를 이용할 수도 있다.
for xxx in range(1, 10):
  for yyy in range(1, 10):
    m = f'{xxx} * {yyy} = {xxx * yyy}'
  print(m) # 요거 결과 이상하다. 다시 점검해보면 수정할 수 있을 것.

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81

In [14]:
names = ["A", "B", "C"]
for idx, name in enumerate(names):
  print(idx, name)

0 A
1 B
2 C

## While 특징
- for-loop 특징 : 항상 반복문의 범위를 지정한다.
  + 몇 번 반복문을 수행할지 숫자로 제어.
- While 특징 :
  + 조건문이 False가 될 때 까지 반복문을 수행
  + 조건문이 True이면 반복문은 무한수행

In [15]:
# 초기값 지정
i = 1
n = 3

while i <= n : # while문에서는 이런 조건문이 중요
  print(f'현재 {i}번')
  i = i + 1

현재 1번
현재 2번
현재 3번

## for-loop, while 비교
- 데이터 분석만 하고자 한다면 for-loop만 거의 이용
- 개발자를 하고자 한다면 for-loop와 while 모두 이용

## break문
- 특정 시점에 루프를 강제종료

In [17]:
for i in range(10):
  print(f'현재{i}번') # !!!!!! 물결괄호 {}의 의미는 괄호 안의 변수를 가져온다는 의미인 것 같다.
  if i > 5:
    print('if조건문 만족')
    break

현재0번
현재1번
현재2번
현재3번
현재4번
현재5번
현재6번
if조건문 만족

### 문자열과 for-loop

In [18]:
texts = 'Python'
for text in texts:
  print(text)
  # text가 t가 되면 break
  if text =='t':
    print('text는 t입니다.')
    break

P
y
t
text는 t입니다.

## 리스트 컴프리헨션
- for loop 및 for loop if 조건문 한 줄로 처리

In [ ]:
# pythonic 코드
numbers = [1, 2, 3, 4, 5]
result = [1, 4, 9, 16, 25] # 거듭제곱. 이 결과물을 만들고 싶음.

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = [] # 빈 리스트를 만든 것.

In [ ]:
result = []
temp1 = 1 ** 1
temp2 = 2 ** 2
temp3 = 3 ** 3
temp4 = 4 ** 4
temp5 = 5 ** 5
result.append(temp1) # 리스트 마지막에 원소 추가
result.append(temp2)
result.append(temp3)
result.append(temp4)
result.append(temp5) # 반복되는 것을 볼 수 있다. 이것을 루프를 이용하여 구현 할 생각

In [20]:
numbers = [1, 2, 3, 4, 5]
result = []

for i in numbers:
  result.append(i ** 2)

result # 결과가 나온다. 그런데 이걸 또 한 줄로 처리하고자 한다면 아래와 같다.

[1, 4, 9, 16, 25]

In [22]:
numbers = [1, 2, 3, 4, 5]
result2 = [i ** 2 for i in numbers]
result2 # 그냥 리스트 안에 조건코드를 넣은거네..

[1, 4, 9, 16, 25]

## 조건문 추가

In [24]:
numbers = [1, 2, 3, 4, 5]
result = []

for i in numbers:
  if i >= 3:
    result.append(i ** 2)

result

[9, 16, 25]

In [25]:
numbers = [1, 2, 3, 4, 5]
result2 = [i ** 2 for i in numbers if i>=3]
result2

[9, 16, 25]

- 시각화 라이브러리
  + matplotlib, plotly 옵션 설정 할 때 자주 사용됨

# 파이썬 문서화(Docstring)
- 코딩을 한다. 프로그래밍을 한다.
- 누군가에게 관련 지식을 전달하는 것과 동일

- Docstring을 이용하여 문서화 하면, help() 명령어를 사용하여 불러오기 할 수 있음.(예. read_csv() 문서처럼 출력이 가능)

In [26]:
help(print) # 이렇게 하면 print 코드에 대한 설명이 나온다

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [27]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [28]:
def myPower(n):
  '''숫자 n을 입력하면 n의 거듭제곱 '''
  result = n ** 2
  return result

In [29]:
print(myPower(3))

9

In [32]:
print(myPower.__doc__) # 이렇게 하면 주석처리했던 내용이 나온다. 결국 문서화 한 것을 불러오기 위해서는 주석이 중요하다. 주석은 보통 ''' '''(다중문자) 이렇게 넣음.
# 주석에 ''도 가능한가? 아마 가능할 것 같긴 함. 다만 그런 경우에는 긴 주석을 못넣을 뿐이지.

숫자 n을 입력하면 n의 거듭제곱

In [31]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [35]:
def read_csv(sep, header):
  ''' # 요건 다중문서
  Returns the sum of ~~.

    Parameters:
      sep (str) : str에 대한 설명...
      header(int) : header에 대한 설명...

    Returns:
      c(int) : c에 대한 설명...
  '''
  c = sep + header
  return c

In [34]:
print(read_csv.__doc__) # 이렇게 # 안에 있는 것은 다중문서 겹따옴표 안에 있는데도 출력이 안되는 것을 확인 할 수 있다.

  Returns the sum of ~~.

    Parameters:
      sep (str) : str에 대한 설명...
      header(int) : header에 대한 설명...

    Returns:
      c(int) : c에 대한 설명...

- swagger 같은 API 명세서가 docstring일까요?
  + 클라이언트용 명세서(공공기관, 한글 또는 워드 작업)

# 클래스 상속
- 대분류, 중분류, 소분류

- 동물
  + 동물의 공통적인 특징
- 포유류
  + 포유류 특징
- 파충류
  + 파충류 특징
- 그리고 위의 분류에서 살아 움직인다는 특징은 공통. 그렇기에 이 공통적인 특징을 하위 분류에서도 사용하게 되는데, 이를 클래스 상속이라 함.

In [37]:
class Animal:
  # Attribute 정의(=클래스 변수)
  name = ''

  #공통함수
  def eat(self):
    print('나는 먹이가 필요하다') # 클래스 하나를 정의 한 것임.

class Dog(Animal): # 클래스 상속을 했다. # '개'에 Animal의 기능 부여
  # name = '' 이 코드는 불필요

  # 새로운 메서드
  def dance(self):
    print(f'{self.name} 강아지가 춤을 춘다')

# 객체 생성
a = Dog()
a.name = '뽀삐'
a.eat()

나는 먹이가 필요하다

In [38]:
a.dance()

뽀삐 강아지가 춤을 춘다

In [39]:
b = Animal()
b.name = "올망이"
b.eat()

나는 먹이가 필요하다

In [40]:
b.dance() # 이렇게 하면 오류가 나는데, b에는 dance 기능이 없기 때문임.

AttributeError: ignored

## 클래스 docstring

In [42]:
from types import MethodDescriptorType
class Person:
  '''
  자기소개하는 Person 클래스.

  Attributes
  ----------
  name : str
    이름
  age : int
    나이
  grade : int
    학년

  Methods
  ----------
  info(comment=''):
    개인정보 출력


  '''
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

  def info(self, comment = ''):
    print(f'내 이름은 {self.name}. 내 나이는 {self.age}. 현재 학년은 {self.grade}. {comment}')

In [43]:
print(Person.__doc__)

  자기소개하는 Person 클래스.

  Attributes
  ----------
  name : str
    이름
  age : int
    나이
  grade : int
    학년

  Methods
  ----------
  info(comment=''):
    개인정보 출력

In [44]:
help(Person) # 이렇게 하면 작성한 코드까지 다 나온다.

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name, age, grade)
 |
 |  자기소개하는 Person 클래스.
 |
 |  Attributes
 |  ----------
 |  name : str
 |    이름
 |  age : int
 |    나이
 |  grade : int
 |    학년
 |
 |  Methods
 |  ----------
 |  info(comment=''):
 |    개인정보 출력
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, grade)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  info(self, comment='')
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)