<a href="https://colab.research.google.com/github/Kongalmengi/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88_%EC%A0%95%EB%A6%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료형의 종류
- 숫자 자료형(int) : 그냥 숫자를 쓰면 됨. 1, 2, 3, 4
- 문자 자료형(str) : 따옴표 안에 글을 쓰면 됨. 'a', '1'
  + 참고로 숫자를 써도 따옴표 안에 넣으면 문자가 된다.
  + 따옴표 없이 문자를 쓰면 변수로 인식한다.
- 불리안 자료형(bool) : True, False
- 리스트 자료형(list) : 요건 나중에 다룬다.
- 변수 : 변수선언을 통해 값을 정의 할 수 있다.

In [ ]:
print(2)
print(type(2))
print('a')
print(type('a'))
print(True)
print(type(True))
print([1, 2, 3, 4])
print(type([1, 2, 3, 4]))

2
<class 'int'>
a
<class 'str'>
True
<class 'bool'>
[1, 2, 3, 4]
<class 'list'>

In [ ]:
long_string1 = '''
문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3
'''

print(long_string1) # 삼중 따옴표를 이용하면 여러 줄의 텍스트를 하나의 문자열로 만들어줄 수 있다.

문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3

In [ ]:
print(a) # 이것이 위와 달리 에러가 나는 이유는, 위에서는 a를 문자로 인식했지만, 여기서는 a를 변수로 인식했기 때문.
# >> 문자를 출력하기 위해서는 따옴표가 필요함을 알 수 있으며, 그렇지 않으면 변수로 인식함을 알 수 있다.

NameError: ignored

# 변수 선언
- 변수 = 값 : 이렇게 변수를 선언 할 수 있다.
- 명령어(키워드)는 변수로 설정 할 수 없다. : True, False, for, while, if, continue 등등...

In [ ]:
practice1 = 1
practice2 = 2
practice3 = 'practice3 str.'
print(practice1) # 변수 practice1을 출력
print('pracrice1') # 문자 practice1을 출력
print(practice2) # 변수 practice2를 출력
print('practice2') # 문자 practice2를 출력
print(practice3) # 문자를 변수로 설정할 수 있음을 보여준다.

1
pracrice1
2
practice2
practice3 str.

# 형 변환(문자형 변환)
- 문자, 숫자 따위의 변환 : 2 + '2'는 불가. 숫자와 문자의 조합이기 때문.
- int() : 정수로 변환
- float() : 실수로 변환
- str() : 문자로 변환

In [ ]:
print(1 + 1) # 오류가 나지 않는다.
print(1 + '1') # type이 다르기 때문에 오류가 난다. : int + str 형태.

2

TypeError: ignored

In [ ]:
print(int('1'))
print(type(int('1'))) # '1'은 str 형식이지만, int('1')은 int형식임을 알 수 있다. 즉, int()를 이용하면 괄호 안의 값이 정수로 바뀐다.

1
<class 'int'>

In [ ]:
print(int(2.1))
print(int(2.4))
print(int(2.5))
print(int(2.7))
print(int(2.9)) # 모든 결과는 2가 나온다. 이것으로 int()는 소수점 이하 버림 정수임을 알 수 있다.

2
2
2
2
2

In [ ]:
print(int('2')) # 문자 2도 숫자로 바꿀 수 있다.
print(float('2.1')) # 문자 2.1은 실수변환으로 숫자화가 가능하다.
print(int('2.1')) # 그런데 문자 2.1은 정수변환이 불가하다. >> 위의 방법처럼 실수변환을 통해 숫자로 만들수 있다.

2
2.1

ValueError: ignored

# 연산자
## 산술 연산자
- 더하기 : +
- 빼기 : -
- 곱하기 : *
- 나누기 : /
  + 나머지 : % (5 % 2 = 1)
  + 몫 : // : (5 // 2 = 2)
- 거듭제곱 : **
- 10의 거듭제곱 : e로 표현. (예:7e3 = 7000, 3e-4 = 0.0003

## 비교 연산자 : 비교 결과는 True, False로 나온다.
- > : 크다 (비교시에는 이렇게 뾰족괄호가 먼저 옴을 알 수 있다.)
- >= : 크거나 같다
- < : 작다
- <= : 작거나 같다
- == : 같다
- != : 같지 않다

## 논리 연산자 : 결과는 True, False로 나온다
- and 예 : (print(3 < 5 and 7 < 5 : 결과는 False))
- or
- not
- in : 포함 여부를 판별. 예 : print('c' in 'cat' : 포함 되어있으므로 결과는 True.)
(참고로 숫자에서 in을 쓸 때, 숫자형으로 비교하면 오류가 뜬다. 예를 들어 2 in 2345를 하게 되면 오류가 뜸. 이런 경우에는 '2' in '2345' 이렇게 해야 함. 2345에 2가 들어있으므로 이런 경우에는 True가 뜸.)
- not in : 미포함. 예 : print('c' not in 'cat' : 결과는 False)

In [ ]:
print('2' in '2345') # 2345에 2가 들어있으므로 True.
print(str(2) in str(2345)) # 이 경우는 숫자를 문자로 형변환을 했기 때문에 비교가 가능. 오류가 나지 않는다.
print(2 in 2345) # 이 경우에는 문자형이 맞지 않으므로 불가.

True
True

TypeError: ignored

# 연산자 응용
- 문자에도 연산자를 적용할 수 있다. 대표적으로 산술 연산자.

In [ ]:
print('안녕' + '하세요') # 문자열에 더하기를 하면 두 개의 문자열이 그대로 이어진다.
print('100' + '200') # 문자열 취급되는 숫자는 위와 같은 원리로 그냥 숫자가 이어지는 결과가 나온다. 이 문제를 해결하기 위해서는 문자열을 숫자로 형변환을 하면 됨.
print(float('100') + float('200')) # 문자열을 숫자로 변환하니 이렇게 정상적인 사칙연산을 할 수 있다.
print('안녕하세요 ' * 3) # 참고로 이렇게 문자열에 곱하기를 하면 같은 문자열을 반복한다.

안녕하세요
100200
300.0
안녕하세요 안녕하세요 안녕하세요

# 진수표현
- 기본은 10진법.
- 10진법을 2진법으로 : bin()
- 10진법을 8진법으로 : oct()
- 10진법을 16진법으로 : hex()

## 다른 진법을 역으로 10진법으로 만들 수도 있다.
- 2진법을 10진법으로 : 0b10001 = 17
- 8진법을 10진법으로 : 0o21 = 17
- 16진법을 10진법으로 : 0x11 = 17

In [ ]:
# 진법변환을 해보자.
print('2진법을 10진법으로 : 0b10001 =')
print(0b10001) # 2진법을 10진법으로
print('8진법을 10진법으로 : 0o21 =')
print(0o21) # 8진법을 10진법으로
print('16진법을 10진법으로 : 0x11 =')
print(0x11) # 16진법을 10진법으로

2진법을 10진법으로 : 0b10001 =
17
8진법을 10진법으로 : 0o21 =
17
16진법을 10진법으로 : 0x11 =
17

In [ ]:
# 위의 진법 변환을 반대로도 해보자.
print(bin(17)) # 10진법을 2진법으로
print(oct(17)) # 10진법을 8진법으로
print(hex(17)) # 10진법을 16진법으로

0b10001
0o21
0x11

In [ ]:
# 비교연산자 연습
print(1<2)
print((1<2) and (2>5)) # 둘 다 True여야 결과가 True
print((1<2) & (2>5)) # & 모양의 and도 똑같이 먹힌다.
# 앞의 변수선언을 포함한 여러가지를 동시에 연습할 겸, 비교연산자에 위의 모든 사항들을 동원하여 연습해보자.

True
False
False

# 리스트
- [1, 2, 3, 4, 5] 이런 형태의 값이 리스트.

In [ ]:
print(type([1, 2, 3, 4, 5])) # 타입이 리스트라고 나온다.

<class 'list'>

# 인덱스
- 문자열이던 리스트던 순서대로 배열되는 값이 있을 때, 몇 번째인지 알려주는 것이 인덱스.
- 인덱스는 0부터 시작.
# 슬라이싱
- 'python'[시작 인덱스:끝 인덱스+1] 이렇게 하면 원하는 끝 인덱스까지 python이라는 문자열을 잘라줌.
- python[인덱스1:인덱스2] 이렇게 하면 변수 python에 해당되는 값에 대해서 해당 인덱스 만큼의 값을 잘라줌.
- [:4] 이렇게 범위를 잡으면 처음부터 4번째 직전(그러니까 3번째) 인덱스 까지 잘라줌.
- [4:] 이렇게 범위를 잡으면 4번 인덱스부터 끝까지 잘라줌.
- 그러니까 슬라이싱은 그냥 대괄호로 범위를 잡아주면 끝이라는 것이네. 특별한 코드명이 따로 있는 것이 아니라.
- 다시 말 해, 인덱스 값이 존재하는 모든 값을 해당 인덱스만큼 잘라준다.(문자열, 리스트, 배열 따위.)
- 아래에 나오지만 숫자 자체를 자를 수는 없다. 생각 해보면, 숫자를 자르고자 할 때는 그냥 사칙연산을 이용하면 된다.
- 문자열, 리스트, 그 외 파이썬 모든 자료형에 동일하게 적용.

In [ ]:
print('apple'[:2]) # 이러면 ap까지만 출력한다.
print(1234[:2]) # 숫자를 바로 넣는 것은 안된다.
abc = 12345
print('acb'[:2]) # 이것도 위와 마찬가지 이유로 오류가 남.

ap

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-15-2d85a304e27c>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  print(1234[:2]) # 숫자를 바로 넣는 것은 안된다.

TypeError: 'int' object is not subscriptable

In [ ]:
abc = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(abc[::2]) # step이라 하는 기술. 매 2번째 원소를 출력
print(abc[::3]) # 매 3번째 원소를 출력

[0, 2, 4, 6, 8, 10]
[0, 3, 6, 9]

# 인덱싱
- 슬라이싱과 같은 개념으로 인덱싱을 할 수 있다.
- 슬라이싱과 같은 개념이라 함은, 그저 대괄호 안에 인덱스 값을 넣는 것으로 해당 인덱스 값을 뽑을 수 있다는 것.

In [ ]:
# 인덱싱을 해보자.
student1 = [80, 90, 95, 100] # 리스트
print(student1[0]) # 0번 인덱싱
print(student1[1]) # 1번 인덱싱
print(student1[2]) # 2번 인덱싱
print(student1[3]) # 3번 인덱싱

80
90
95
100

# 리스트 값의 업데이트
- 리스트의 특정 인덱싱 값을 뽑아서 수정 할 수 있다.
- 리스트에 새로운 원소를 추가 할 수 있다. : 더하기, 혹은 .append()
- 리스트에서 특정 원소를 뺄 수 있다. : 뺄셈?(이건 안된다.), 혹은 remove(빼려는 원소)

In [ ]:
# 앞서 사용했던 리스트 student1을 수정해보자.
student1[0] = 100 # 먼저 수정하고자 하는 원소를 추출하고, 이것의 값을 새로 정의한다.
print(student1) # 0번째 인덱스 값이 수정된 것을 확인 할 수 있다.

[100, 90, 95, 100]

In [ ]:
# 리스트에 덧셈, 곱셈 연산자 적용이 가능하다.
myFriends = ['Michael', 'Sebastian', 'Kevin', 'Tina'] # 문자도 이렇게 리스트로 만들 수 있다.
newFriends = ['Hanna']

myFriends2 = myFriends + newFriends # 이렇게 덧셈을 적용 하면 뒤에 원소가 추가된다.
print(myFriends2)
myFriends2.append('Tomas') # append로 새 문자 추가.
# 주의 : append()를 사용 할 때, 결과물 list는 새로운 리스트가 아니라, 기존의 리스트다.
# 그러니까 myFriends3 = myFriends2.append('Tomas')이 아니라, myFriends2 = myFriends2.append('Tomas')로 여전히 myFriends2라는 의미. 이거 간과하면 바로 오류 뜬다.
# 위와 같은 주의사항은 .append() 메소드를 이용하여 나온 결과가 기존의 리스트에 저장되는 형태로 처리가 되기 때문.
# 그럼에도 조금 의아한 것은 사실. myFriends3 = myFriends2.append('Tomas') 이렇게 myFriend3을 새로 정의했는데도 정의 자체를 무시하는 결과니까.
# 그런데 이거 바로 앞에서 했던 리스트값 수정과 같은 원리라고 생각하면 받아들일 수는 있다.
# 이에 대해 정확히 말하자면, student1[0] = 100 이렇게 했을 때, 수정의 결과가 새로 정의될 수 있는게 아니라 그냥 student1에 바로 저장됨. append()와 remove()도 이렇게 받아들여야 할 듯.
# 이렇게 열심히 정리해두긴 했는데, 수업때 정리해놓은 것을 보니 파이썬의 버그 혹은 한계 정도로 생각하면 된다 함...
print(myFriends2)

['Michael', 'Sebastian', 'Kevin', 'Tina', 'Hanna']
['Michael', 'Sebastian', 'Kevin', 'Tina', 'Hanna', 'Tomas']

In [ ]:
# 원소 지우기도 해보자.
myFriends2 - ['Tomas'] # 안된다.

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
# 뺄셈은 안되는 것 같으니, 메소드를 이용하여 원소를 빼보자.
myFriends2.remove('Tomas') # 이건 된다.
print(myFriends2)

['Michael', 'Sebastian', 'Kevin', 'Tina', 'Hanna']

In [ ]:
myNumbers = [1]
print(myNumbers * 3) # 이건 리스트에 곱하기 3을 한 것임. 숫자에 곱하기 3이 아님. 왜냐? myNumbers가 이미 리스트 값 취급이니까. [1] + [1] + [1]이라고 생각하면 편함.
print(newFriends * 3) # 같은 원리로 문자열 리스트에도 곱셈이 적용된다.

[1, 1, 1]
['Hanna', 'Hanna', 'Hanna']

In [ ]:
# myFriends에서 Kevin의 K 추출하기
print(myFriends[2]) # 일단 Kevin을 추출
print(myFriends[2][0]) # Kevin의 K는 0번째 인덱스니까, 여기에 또 슬라이싱[0]을 적용. 다시 말 해, 리스트 2번 인덱스 값의 원소에서 0번 인덱스 값을 뽑는 것이다.
# 이것으로 대괄호는 기본적으로 인덱싱 및 슬라이싱 기능을 갖고 있음을 알 수 있다.

print(myFriends[1][1:4]) # 이렇게 하면 리스트의 1번 값의 1~3번 값을 뽑아낸다. 결과는 eba가 뽑힘.

Kevin
K
eba

In [ ]:
mixed = [0, 2, 3, 14, 'python', True, myFriends2] # 이렇게 숫자, 문자열, 불리언, 리스트를 또 리스트로 만들 수 있으며, 값은 섞여있어도 리스트가 만들어진다.
mixed[-1] # 이렇게 하면 뒤에서부터 인덱싱을 한다. 뒤에서부터 앞으로 -1 = myFriends2, -2 = True, -3 = python 이렇게

['Michael', 'Sebastian', 'Kevin', 'Tina', 'Hanna']

In [ ]:
mixed[-1][-1][0]

'H'

- 리스트 안에 특정 원소가 존재하는지 찾을 수도 있다. : '문자열' in 리스트 이런 형태로 가능

In [ ]:
print('Hanna' in myFriends2) # 결과는 불리언으로 출력.
print(myFriends2 in mixed) # 리스트 안에 들어있는 리스트도 찾아낼 수 있다. 리스트도 리스트의 원소가 될 수 있기 때문.

True
True

# 튜플
- 튜플은 리스트와 유사함.(인덱싱, 슬라이싱이 동일하게 가능. 중복 원소도 허용)
- 하지만 원소의 수정 및 삭제, 추가가 불가능하다는 점에서 다름.
## 튜플의 기본 모양
- 튜플 = (값1, 값2, 값3, ...)
- 리스트 = [값1, 값2, 값3, ...]

In [ ]:
# 튜플의 인덱싱, 슬라이싱을 해보자.
Tu1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9) # 중복원소 허용
print(Tu1[0]) # 인덱싱
print(Tu1[2:6]) # 슬라이싱
print(Tu1[::2]) # 매 2번째 월소 뽑기(슬라이싱의 일종)

1
(3, 4, 5, 6)
(1, 3, 5, 7, 9, 9)

In [ ]:
# 먼저 비교를 위해 리스트에 수정 및 삭제를 시도해본다.
List1 = ['Michael', 'Sebastian', 'Kevin', 'Tina']
print(List1)
List2 = List1 + ['Hanna'] # 원소 추가
print(List2)
List2.append('Tomas') # 원소 추가. 그런데 .append()는 List3 = List2.append('Tomas')으로 정의하고 List3을 출력하면 결과가 None이 나온다. 분명 List3을 새로 정의했는데도...
# 이건 그냥 조심하는 수 밖에...
print(List2)
List2.remove('Tomas')
print(List2) # append()와 같은 원리로 이것도 List2를 결과로 출력해야 결과가 나온다.

['Michael', 'Sebastian', 'Kevin', 'Tina']
['Michael', 'Sebastian', 'Kevin', 'Tina', 'Hanna']
['Michael', 'Sebastian', 'Kevin', 'Tina', 'Hanna', 'Tomas']
['Michael', 'Sebastian', 'Kevin', 'Tina', 'Hanna']

In [ ]:
# 그럼 이번에는 튜플의 원소 수정 및 삭제를 시도해보자.
print(Tu1)
Tu2 = Tu1 + (1) # 합 과정에 오류가 있다고 뜬다.
print(Tu2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9)

TypeError: can only concatenate tuple (not "int") to tuple

In [ ]:
print(Tu1)
print(Tu1.append(1)) # 위와 마찬가지로 여기에 오류가 뜬다.

(1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# 이번에는 튜플 수정시도
print(Tu1[3]) # 먼저 튜플 인덱싱.
Tu1[3] = 1 # 리스트였다면 이 과정의 결과가 그대로 Tu1에 저장됨. 하지만 튜플은 여기서 오류가 난다.
print(Tu1)

4

TypeError: 'tuple' object does not support item assignment

# 세트
- 중괄호를 이용하여 값을 정의한다 : 세트1 = {값1, 값2, 값3, ...}
- 세트의 특징은 중복원소를 허용하지 않으며, 순서를 보장하지 않는다. 순서가 보장되지 않기 때문에 인덱싱 불가.
- 세트는 교집합 합집합을 얻을 때 유용하다.
- 교집합, 합집합, 차집합 등등에 대해 별도의 메소드가 존재한다.
- 세트는 그냥 이런게 있구나 하고만 알아두자.

# 딕셔너리
- 세트처럼 중괄호로 정의된다.
- 딕셔너리의 원소는 항상 key와 value의 조합으로 이루어진다. 사전을 보면 단어와 뜻으로 정보가 구성된 것과 같다고 보면 됨.
- 딕셔너리 = {key1:value1, key2:value2, ...}
(예 : person = {'이름':'Amelia', '나이':7, '키':120, '몸무게':23})
- key는 중복을 허용하지 않음.

In [ ]:
# 딕셔너리의 데이터에 접근해보자.
Ameli = {'이름':'Amelia', '나이':7, '키':120, '몸무게':23}
print(Ameli[0]) # 딕셔너리는 세트와 마찬가지로 인덱싱이 안된다.

KeyError: 0

In [ ]:
# 딕셔너리의 원소를 뽑을 때는 인덱싱 대신 key값을 이용하여 원소를 얻을 수 있다.
print(Ameli['이름'])
print(Ameli['나이'])

Amelia
7

In [ ]:
# 딕셔너리에 새로운 원소 추가하기 : 리스트의 원소 수정과 같은 방법으로 원소 추가가 된다.
print(Ameli['최종학력']) # key값이 없으면 이렇게 에러가 발생

KeyError: '최종학력'

In [ ]:
print(Ameli.get('별명')) # key는 추가할 수 있는데, 그에 해당하는 value가 없음을 알 수 있다.
Ameli['최종학력']='유치원' # .get 메소드 없이도 이렇게 바로 원소 추가가 가능. 그 모양은 리스트의 원소 수정 방법과 동일하다.
print(Ameli)
Ameli['키'] = 130 # 딕셔너리는 이렇게 원소 추가 방법으로 value 수정까지 할 수 있다.
print(Ameli)

None
{'이름': 'Amelia', '나이': 7, '키': 120, '몸무게': 23, '최종학력': '유치원'}
{'이름': 'Amelia', '나이': 7, '키': 130, '몸무게': 23, '최종학력': '유치원'}

## 추가적인 딕셔너리 메소드(기초문법231229 참조)
- .keys() : 딕셔너리의 key값을 보여준다.
- .values() : 딕셔너리의 value값을 보여준다.
- .update() : 딕셔너리의 원소 추가는 .append()가 아니라 이걸 사용한다. 물론 앞서 했던 방법으로 새 원소를 정의하는 방법으로 원소 추가를 할 수도 있다.
- .clear() : 빈 딕셔너리 생성

In [ ]:
country_capital = {
    "대한민국" : "서울",
    "프랑스" : "파리",
    "미국" : "워싱턴",
    "영국" : "런던"
}
print(country_capital)
print(country_capital.keys())
print(type(country_capital)) # .key 메소드를 적용한 후에도 결과물은 여전히 딕셔너리임을 알 수 있다.

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}
dict_keys(['대한민국', '프랑스', '미국', '영국'])
<class 'dict'>

In [ ]:
country_capital.keys().append('독일') # 오류가 난다. 딕셔너리에는 리스트에서 사용되는 append 사용 불가.

AttributeError: 'dict_keys' object has no attribute 'append'

In [ ]:
print(country_capital.values()) # 모든 value값을 보여주며, 결과물은 여전히 딕셔너리.

dict_values(['서울', '파리', '워싱턴', '런던'])

In [ ]:
new_data = {
    '중국' : '베이징', '필리핀' : '마닐라', '호주' : '캔버라'
}
print(new_data)
country_capital.update(new_data)
print(country_capital) # 이렇게 .update()를 이용하여 원소를 추가 할 수도 있다.

{'중국': '베이징', '필리핀': '마닐라', '호주': '캔버라'}
{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '영국': '런던', '중국': '베이징', '필리핀': '마닐라', '호주': '캔버라'}

In [ ]:
country_capital.update('서울':'우리집') # 이렇게 딕셔너리가 아닌 경우(중괄호 없음)에는 .update()는 이용 불가.
print(country_capital)

SyntaxError: invalid syntax (<ipython-input-19-2659f7e8f1a3>, line 1)

In [ ]:
country_capital.update({'서울':'우리집'}) # .update()는 괄호 안이 이렇게 딕셔너리여야 가능하다.
print(country_capital)

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '영국': '런던', '중국': '베이징', '필리핀': '마닐라', '호주': '캔버라', '서울': '우리집'}

# 문자열 관련 추가사항(문자열 처리)
- 문자열의 갯수를 셀 수 있다.len()함수
- len(문자 혹은 문자값을 갖는 변수) 이렇게 사용.
- 그런데 리스트의 원소 갯수를 셀 수도 있나? 셀 수 있다!!

In [ ]:
print(len('abcde')) # 갯수니까 결과는 5가 나온다.
print(len(myFriends2)) # 리스트의 원소 갯수도 셀 수 있다!

5
5

# 문자열 메소드 몇 가지
## (메소드는 문자열.메소드() 이런 식으로, 원하는 문자열에 마침표를 찍고 메소드를 붙여주는 방식으로 이용한다.)
- 소문자 만들기(.lower)
- 대문자 만들기(.upper)
- 전체 문자열의 첫 글자만 대문자로(.capitalize())
- 단어의 첫 글자만 대문자로(.title())
- 대소문자를 뒤바꾸기(.swapcase())
- 문자열을 나누고 싶으면(.split()) : 띄어쓰기를 기준으로 값을 나누어 리스트 형태로 반환한다 함.
- split과 반대로 문자열을 합하고 싶으면(.join()) : .split()과 정확히 반대로, 리스트를 문자열로 만들어준다.
- 특정 문자가 몇 번 쓰였는지 찾고자 하면(.count('찾고자 하는 문자'))

In [ ]:
words = 'im fine THANK you'
print(words.lower()) # 모든 문자를 소문자로 바꿔줌.
print(words.upper()) # 모든 문자를 대문자로 바꿔줌.
print(words.capitalize()) # 전체 문자열의 맨 앞에만 대문자로 바꿔줌.
print(words.title()) # 문자열 내의 모든 단어에 대해 첫 글자를 대문자로 바꿔줌.
print(words.swapcase()) # 대소문자를 서로 바꿔줌.
print(words.split()) # 문자열의 띄어쓰기를 기준으로 나누어 리스트로 반환.
print(words.count('TH')) # 해당 문자열이 몇 번 들어가는지 찾아줌.

im fine thank you
IM FINE THANK YOU
Im fine thank you
Im Fine Thank You
IM FINE thank YOU
['im', 'fine', 'THANK', 'you']
1

In [ ]:
'안녕아하세요아문장에아오류가아있는것아같아요'.split('아') # 이렇게 split은 문자열을 나누는 기준을 설정해주면 그 기준대로 나누어 리스트값을 만듦을 알 수 있다.

['안녕', '하세요', '문장에', '오류가', '있는것', '같', '요']

In [ ]:
# 아래의 문자열에서 +82만 추출해보자.
phone_number = '+82-01-2345-6789'
print(phone_number.split('-')[0]) # 일단 - 기준으로 숫자를 나누어 리스트를 만들고, 거기서 0번째 인덱스 값을 뽑은 것.

+82

In [ ]:
# split의 매개변수(arguments, parameters)를 추가해보자 : maxsplit
print(phone_number.split('-', maxsplit=2)) # 최대 스플릿 갯수를 2로 지정. 최대 2번만 분리한다는 의미. 그 결과 3개의 원소로 분리된다.
print(phone_number.split('-', maxsplit=1)) # 최대 스플릿 갯수를 1로 지정. 최대 1번만 분리한다는 의미. 그 결과 2개의 원소로 분리된다.

['+82', '01', '2345-6789']
['+82', '01-2345-6789']

## 추가적인 문자열 메소드
- 어떤 문자로 시작하는지 알고싶으면 : .startswith('시작문자열') (결과는 불리언)(그런데 이거 혹시 숫자열에도 적용 가능한가?)
- 어떤 값으로 끝나는지 알고싶으면 : .endswith('끝나는 문자열') (사용법은 위와 동일)
- 불필요한 문자열을 제거하고 싶으면 : .strip('제거하고자 하는 문자열') 괄호 안에 아무것도 넣지 않으면 문자간의 공백이 지워진다 함.
- 문자열의 일부를 바꾸고 싶으면 : .replace('찾는 문자열', '교체 문자열')
- 문자가 어디 있는지 찾고싶으면 : .find('찾고자 하는 문자') 결과는 해당 문자가 위치한 인덱스 값.
- 문자를 다른 문자들 사이에 넣고 싶으면 : .center(총 문자의 수, '좌우에 추가하고 싶은 문자')

- 위의 메소드들은 그냥 이런 것들이 있구나 하고 넘어가자.

# 문자열 포맷
- {} {}.format('a', 'b') : format 뒤의 문자가 순서대로 중괄호 속에 들어간다.
- {N}.format('a', 'b') : format 뒤의 문자 중 인덱스 N에 해당하는 문자가 중괄호 속에 들어간다.
- f'{a}' : f-string. 중괄호 안에 변수 a를 넣으면 변수 a에 해당하는 문자열을 출력해줌. 그런데 이건 그냥 변수 문자열 출력 가능하지 않나? f 없이도?
  + 아니다. f-string이 의미 없지는 않다. 아래 연습 코드의 비교 참조.

In [ ]:
# {}{}.format('a', 'b')
print('우리집 {}는 {}강아지'.format('강아지', '복슬')) # 이렇게 하면 format 이하의 문자가 중괄호 안에 차례로 들어간다.
print('우리집 {}는 {}{}}'.format('강아지', '복슬')) # 괄호는 셋인데 format문자는 2개 뿐인 경우. 세 번째 중괄호에 해당하는 2번 인덱스 문자열이 없기 때문에 오류가 남.

우리집 강아지는 복슬강아지

IndexError: Replacement index 2 out of range for positional args tuple

In [ ]:
# {n}.format('a', 'b')
print('우리집 {0}는 {1}{0}'.format('강아지', '복슬')) # 중괄호 안에 필요한 인덱스를 넣어주면 format 이하의 문자열 중 해당 인덱스 문자를 출력.

우리집 강아지는 복슬강아지

In [ ]:
dog = '강아지'
bok = '복슬'

print(f'우리집 {dog}는 {bok}{dog}') # 일단 사용법은 알겠다.
print('우리집 dog는 bokdog') # 비교 : f-string이 의미 없는 코드가 아님을 알 수 있다.
# 그냥 문자열과 변수를 나열한다 생각하고 나열해보니, 변수도 따옴표 안에 있는 바람에 문자취급이 되어 변수로 쓸 수 없는 상황이 발생했다. f-string의 중요성1
print('우리집 {dog}는 {bok}{dog}') # f-string의 코드를 갖추지 않으면 중괄호를 그저 문자로만 인식하여, 의도한대로 출력되지 않음을 알 수 있다. f-string의 중요성2

우리집 강아지는 복슬강아지
우리집 dog는 bokdog
우리집 {dog}는 {bok}{dog}

# 탈출문자
- 특수문자를 문자로 출력하고 싶은데 코드에 인식되어 엉켜버리는 경우(예 : 따옴표, 역슬래시 따위) 역슬래시 탈출문자를 이용하면 코드에 엉키지 않고 표현해줄 수 있다.
  + 큰 따옴표 : \"
  + 작은 따옴표 : \'
  + 역슬래시 : \\

In [ ]:
# 친구가 "뽀삐는 어디 있어?" 하고 물었다. 이 문장을 출력해보자.
print('친구가 "뽀삐는 어디 있어?" 하고 물었다.') # 문제 없이 출력된다. 작은 따옴표로 문자열이 어디까지인지 구별.

친구가 "뽀삐는 어디 있어?" 하고 물었다.

In [ ]:
# 나는 '미국 갔는데...' 하고 생각했다. 이 문장을 출력해보자.
print('나는 '미국 갔는데...' 하고 생각했다.') # 이렇게 하면 오류가 남. 작은 따옴표가 문자열로 묶어준 부분은, '나는 ', ' 하고 생각했다.' 부분 뿐이기 때문임.
# 미국 갔는데... 를 알 수 없는 코드로 인식하여 발생하는 문제.

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-16-c2f7fea78230>, line 2)

In [ ]:
# 위의 문제는 큰 따옴표로 구별하면 해결된다.
print("나는 '미국 갔는데...' 하고 생각했다.")

나는 '미국 갔는데...' 하고 생각했다.

In [ ]:
# 하지만 '사실을 말 할 순 없지.' 하는 생각에 "내 방에 있어."라고 했다. 라는 문장은 어떻게 출력할까? 따옴표, 쌍따옴표 무엇을 쓰던 오류가 발생한다!
# 이 경우에 탈출문자를 이용한다.
print('하지만 \'사실을 말 할 순 없지.\' 하는 생각에 \"내 방에 있어\"라고 했다.') # 잘 출력 된다.

하지만 '사실을 말 할 순 없지.' 하는 생각에 "내 방에 있어"라고 했다.

In [ ]:
# 파일 경로를 쓸 때 필요한 역슬래시도 출력해보자.
 print('c:\\aaa\\bbb') # 그래도 에러가 발생하는데? 역슬래시는 안되나보다.

IndentationError: unexpected indent (<ipython-input-24-d317a71d89b3>, line 2)

# 여기 아래에는 클래스를 정리해보자(기초문법231228 참조)
# 그 다음에는 if 정리(기초문법231229 참조)