<a href="https://colab.research.google.com/github/Kongalmengi/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼

## 사칙연산

In [1]:
1+1 #정수

2

In [2]:
5-2 #정수 연산 결과값은 정수로 반환

3

In [3]:
5 -2

3

In [4]:
15*2

30

In [5]:
# 나눗셈
# Python 3.x 버전은 실수로 처리
# Python 2.x 버전은 정수로 처리
10/2  # 정수 / 정수 ===> 반환값은 실수형으로 반환

5.0

## 실수연산

In [6]:
1.2+5.2     # 덧셈
4.5-30.2    # 뺄셈
2.7*15.2    # 곱셈
17.5/3.2    # 나눗셈
# 최종결과가 마지막것만 나온다. 이런 경우는 아래와 같이 print 명령어를 이용한다. 그 전에 일반적으로 print에 익숙해지는 것이 좋다.

5.46875

In [7]:
print(1.2+5.2)     # 덧셈
print(4.5-30.2)    # 뺄셈
print(2.7*15.2)    # 곱셈
print(17.5/3.2)    # 나눗셈

6.4
-25.7
41.04
5.46875

### 연산규칙
- (1) 괄호안 계산
- (2) 지수 계산
- (3) 곱셈과 나눗셈 계산
- (4) 덧셈과 뺄셈 계산
- (5) 같은 순위 연산이면 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

In [8]:
print(2+3*4)

14

In [9]:
print(3 / 2 * 4 - 5 / 2)

3.5

In [10]:
print((5*4-15) + (5 - 2) * (9-7))

11

## type()
- 함수 : 특정 기능을 수행하도록 만든 명령어
  + 특정 함수를 조건만 맞춰주면 동작

함수의 종류
- 내장(built-in)함수 : 파이썬 설치와 함께 제공하는 기본적인 함수
  + print(), type()
  + 종류는 몇 개? (여러개)
  + 5주차~ 8주차 Documentation : 함수를 설명해주는 문서 보는 법 익힐 것

- 라이브러리에서 제공하는 함수
  + R 에서는 패키지라 부름
  + Python 에서는 라이브러리라 부름
  + 목적이 분명한 것이 특징.
    - 웹사이트 개발 : 웹사이트와 관련된 라이브러리를 별도 설치
    - 통계분석 : 통계분석과 관련된 라이브러리를 별도 설치
    - 시각화 : 시각화와 관련된 라이브러리를 별도 설치
    - 게임개발 : 이것도 이와 관련된 라이브러리 설치
    - 수치연산 주요 라이브러리 : numpy, scipy

In [11]:
# 파이썬에서는 정수를 어떻게 표현?
# 파이썬에서는 실수를 어떻게 표현?
print(type(3))
## end 키를 누르면 뒷괄호 붙이기가 편하다. 커서가 가장 마지막으로 가니까.

<class 'int'>

In [12]:
print(type(3.5))

<class 'float'>

- 파이썬은 객체지향 언어.

In [13]:
print(type(~~)) #이렇게 사용 조건이 맞지 않으면 에러가 뜬다

SyntaxError: ignored

## 거듭제곱과 나머지
- 숫자 A를 n번 곱하는 것이 거듭제곱(영어로는 power)
 + A는 밑, n은 지수
 + 파이썬에서는 곱하기를 두 번 입력하여 사용 (**)

In [17]:
print(2**5) # 거듭제곱

32

- 나머지 구하는 법

In [18]:
12 % 5 # 나머지 (%)

2

In [19]:
# 몫을 구하고 싶음 (//)
13 // 5

2

- 교재 표 3-1(p34) 산술연산자 표 정리

## 과학적 표기법(scientific notation)
- 아주 큰 수, 작은 수를 다뤄야 하는 경우
  + 30만 km/s
  + 3*10^8 m/s

In [20]:
3*10**8

300000000

In [21]:
3e8 # 결과물은 위와 같다.(이렇게 e로 10의 거듭제곱을 표현한다)

300000000.0

In [22]:
3e-4

0.0003

- 질문거리 : 그럼 자연로그의 밑 e는 어떻게 표현? (라이브러리가 따로 존재, 수치연산 라이브러리 numpy, scipy)

## 진수 표현과 변환
- 일반적으로 10진법을 많이 사용
- 60초가 1분, 60분이 1시간 : 60진법
- 오전 12시간, 오후 12시간, 1년 12달 : 12진법
- 컴퓨터 프로그래밍 : 2진법
- 8진법 : 0~7까지 숫자 이용
- 16진법 : 0~9, a, b, c, d, e, f까지 이용
- 메서드
  + bin() : 10진수를 2진수로 변환
  + oct() : 10진수를 8진수로 변환
  + hex() : 10진수를 16진수로 변환

In [23]:
17 # 10진법

17

In [24]:
0b10001 #2진법

17

In [25]:
0o21 # 8진법

17

In [26]:
0x11 #16진법

17

- 질문거리 : 그럼 일반적이지 않은 진법표시는? 그러니까 17진법 이런 것들.(이건 자료를 따로 찾아봐야 함)

## 논리 연산 및 비교 연산 (매우 중요)
- 참/거짓
- 논리 연산 활용이 프로그래밍의 핵심

In [27]:
print(True)

True

In [28]:
print(False)

False

In [29]:
print(type(True))

<class 'bool'>

### 논리 연산자
- and : A and B : A와 B 모두 참일 때 참
- or : A or B : A와 B 중에서 하나라도 참이면 참, 둘 다 거짓일 때 거짓
- not : not A : A가 참일 때 거짓, A가 거짓일 때 참

In [30]:
print(True and True)
print(True and False)
print(False and True)
print(False and False) # 둘 중 하나만 False면 False

True
False
False
False

In [31]:
print(True or True)
print(False or True)
print(True or False)
print(False or False) # 하나라도 True면 True

True
True
True
False

### 비교연산자

In [32]:
# True 또는 False가 나오도록 조건식을 만들어야 함
1==2 # ==는 비교연산자. A와 B가 같다. False 혹은 True를 출력

False

In [33]:
1!=2 # 비교연산자. A와 B가 같지 않다.

True

In [34]:
1<=2 # a는 b보다 작거나 같다.

True

In [35]:
1<2 # a가 b보다 작다

True

- 질문거리 : 위의 비교연산자에 문자를 비교할 수도 있을까? 크거나 작은 것에는 불가능할지라도 같은 것에는 사용할 수 있을 것 같은데.

### 비교연산자+논리연산자

In [36]:
1 > 0 and -2 <0 # 비교연산자(1순위) 논리연산자(2순위)

True

In [37]:
((3 < 0) and (-5 > 0)) and (1 > 5)

False

# Chapter 4. 변수와 자료형

## 변수 (p.42)

In [38]:
# 단순 계산기
1 + 1

2

변수명 = data

In [39]:
a = 100
print(a)

100

In [40]:
print(a) # 결과를 도출하기 위해서는 변수에 해당하는 코드를 실행시켜야 함. 이는 직접 재생버튼을 눌러도 좋고, 런타임 메뉴에서 적절한 기능을 실행시켜도 좋다.

100

In [41]:
b=1000
c=1110

In [42]:
print(b)
print(c)

1000
1110

### 변수명 짓기 규칙
- snake, camel

In [43]:
# Snake
num_a = 100
num_b = 110

# Camel
muStudent = "evan"
mySchool = "학교이름"

# 주의해야 할 것
3star = "이장군" # 이렇게 앞에 숫자가 오면 안된다 함.
print(num_a)
# 추가로 변수에 공백이 있으면 안된다.

SyntaxError: ignored

- 질문거리 : 스네이크와 카멜의 포인트는 변수를 숫자로 잡냐, 문자로 잡냐의 차이인 듯?

In [44]:
num = 1
Num = 100

In [45]:
print(num)
print(Num)

1
100

- 중요!! : 런타임 메뉴에서 모든 세션을 다시 시작할 때, 중간에 오류가 있는 세션이 있으면 거기서 멈추고, 그 이후로는 실행이 안된다. 이후의 세션에 오류가 없더라도.
- 이럴때는 뒤에 오류가 없는 세션을 선택하고, 그 다음 '이후 셀 실행'을 누르면 다음것이 마저 실행된다.

### 예약어는 변수명으로 이용할 수 없음
- p.45
- print, None, True, 등등...

### 변수의 반대어 : 상수
- 한 번 지정 후에는 변치 않는 고정값

In [46]:
# 상수
pi = 3.14

In [48]:
# 실제 변수를 만들어보기
num1 = input("숫자를 입력해주세요!!") # input은 숫자를 입력해도 기본값은 문자열로 반응한다. input함수의 특징임.
num2 = input("숫자를 입력해주세요!!")

print(num1, num2)

숫자를 입력해주세요!!100
숫자를 입력해주세요!!200
100 200

In [49]:
print(num1 + num2) # 이렇게 하면 결과가 이상하다. 이런 경우는 데이터 타입을 확인해야 함.

100200

In [50]:
print(type(num1)) # 변수 타입 확인 : <class 'str'> 문자열
print(type(num2)) # 변수 타입 확인 : <class 'str'> 문자열

<class 'str'>
<class 'str'>

In [52]:
# 사칙연산을 하고싶은데, 갖고있는 class가 문자열이다.
# 문자 100을 숫자 100으로 변경하면 된다. 그럼 어떻게?
# 코드를 찾아야 한다. 찾아보니 int 함수를 넣으면 된다!
print(int(num1)+int(num2))
# 이렇게 int()함수로 문자를 숫자로 바꿀 수 있다.

300

- 프로그래밍에서 문자열로 표현하고 싶다 하면 쌍따옴표나 작은 따옴표로 입력을 해줘야 한다.
- 참고로 숫자를 써도 따옴표가 들어가면 문자로 인식. '100' 이런 식으로 쓰면 100을 숫자가 아닌 문자로 인식한다는 것.

- 구글 검색법 : 콤마를 활용하는 것도 좋다.
- 예) Python, 문자를 숫자로 변환
- 참고로 그 밖의 변환함수들도 있다. float(), str(), bool() 따위.

## 문자열
- "" 또는 '' 이렇게 지정
- 보통은 작은 따옴표를 쓰는 것이 좋다고 함.

In [53]:
greeting = 'Hello String'
print(greeting)

Hello String

In [54]:
string3 = 'This is a "double" quotation test'
print(string3)

This is a "double" quotation test

In [55]:
long_string1 = '''
문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3
'''

print(long_string1) # 3중 따옴표 사용법. 여러 줄의 긴 텍스트를 한 번에 묶어줄 수 있다는 의미같음.

문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3

In [59]:
x = 'Enjoy '
y = 'Python!'
print(x + y) # 문자끼리 덧셈을 하면 문자열을 그대로 이어준다.

Enjoy Python!

In [60]:
print(x * 3) # 문자열에 곱하기를 하면 이렇게 문자를 반복한다.

Enjoy Enjoy Enjoy

## 리스트 (List), p.49
- 가장 중요한 자료형
- 다른 프로그래밍 언어에서는 배열(Array)이라 함
- 예시
  + 1반의 수학 점수
- 다중의 데이터를 묶는다

In [64]:
# 1번 학생의 국어, 영어, 수학, 과학
student1 = [90, 95, 85, 80]
student1 # student1을 한 번 더 치는 이유는?? print같음. 명령어를 안썼을 뿐이지.

[90, 95, 85, 80]

In [62]:
print(type(student1))

<class 'list'>

## 인덱싱(Indexsing)
- 리스트에서 특정 데이터를 추출

In [65]:
student1

[90, 95, 85, 80]

In [68]:
student1[1] # 리스트의 2번째 숫자가 나온다. 왜? 프로그래밍에서는 첫 번째에 해당되는 값이 0번부터 시작이기 때문! 그래서 첫 번째 숫자를 뽑기 위해서는 0을 넣어야 한다.

95

In [69]:
student1[0] # 이렇게 하면 첫 번째 항목을 뽑아옴.

90

In [70]:
print(student1[0])
print(student1[1])
print(student1[2])
print(student1[3])

90
95
85
80

In [76]:
greeting1 = 'Hello, Python'
print(greeting1[7]) # 이렇게 간단하게 인덱싱 할 수 있다. 물론 문자 뽑는데 쓰는 함수도 있긴 한데, 그건 나중에.

P

### 리스트의 값 업데이트

### 리스트 수정, 삭제

In [80]:
student1[0] = 100 # 0번째 인덱스에 새로운 데이터를 할당하는 것이다.
student1

[100, 95, 85, 80]

In [82]:
# 문자열, 덧셈 연산자 + 곱셈 연산자 사용 가능.
# 문자열에 연산자 작용을 리스트에 적용
myFriends = ['Michael', 'Sebastian', 'Kevin', 'Tina'] # 문자도 이렇게 리스트로 만들 수 있다.
newFriends = ['Hanna']

myFriends2 = myFriends + newFriends # 이렇게 하면 뒤에 추가가 된다.
print(myFriends2)

['Michael', 'Sebastian', 'Kevin', 'Tina', 'Hanna']

In [88]:
myNumbers = [1]
print(myNumbers * 3) # 이건 리스트에 곱하기 3을 한 것임. 숫자에 곱하기 3이 아님. 왜냐? myNumbers가 이미 리스트 값 취급이니까. [1] + [1] + [1]이라고 생각하면 편함.
print(type(myNumbers))

[1, 1, 1]
<class 'list'>

In [92]:
# myFriends에서 Kevin의 K 추출
# result = myFriends2[2]
# result[0]
myFriends2[2][0] # 리스트2번의 0번째 인덱스를 뽑는 것이다. (대괄호는 기본적으로 인덱싱 기능을 갖고있다고 볼 수 있다.)

'K'

In [94]:
myFriends2[4][1] # 이렇게 하면 리스트의 4번째 항목에서 2번째 문자를 인덱싱. 그러니까 리스트에서 대괄호로 인덱싱을 하면 해당 항의 결과를 도출, 문자열에서 대괄호로 인덱싱을 하면 문자열 위치의 결과를 도출.

'a'

In [95]:
mixed = [0, 2, 3, 14, 'python', True, myFriends2]
mixed[-1] # 이렇게 하면 뒤에서부터 인덱싱을 한다. 뒤에서부터 앞으로 -1 = myFriends2, -2 = True, -3 = python 이렇게

['Michael', 'Sebastian', 'Kevin', 'Tina', 'Hanna']

In [96]:
mixed[-1][-1][0]

'H'

### 슬라이싱
- 문자열, 리스트, 그 외 파이썬 자료형 원리 동일 적용

In [111]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3]) # 시작인덱스 : 끝인덱스-1

# 5까지 추출해보자.
print(list_data[0:6])
print(list_data[4:]) # 리스트 끝까지 뽑고 싶을 때는 뒤에 10을 넣지 않고 그냥 비워둬도 가능하다. 같은 원리로, 모든 데이터를 뽑고싶다면 [:] 이렇게만 써도 된다.
print(list_data[:]) # 이렇게 하면 모든 데이터가 나옴. 모든 데이터를 뽑고자 할 때는 이게 낫다.
print(list_data[::2]) # 이렇게 하면 짝수만 나옴. 여기서 2를 step이라 함. 만약 [::3] 이렇게 하면 [0, 3, 6, 9] 이렇게 나옴.
print(list_data[::3]) # 이렇게 나옴.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [104]:
greeting3 = 'Hello, Python' # 콤마가 있어서 리스트 같지만 아니다. 따옴표로 전체가 문자열이 되었기 때문. 그런 고로, 5번째 인덱스를 뽑으면 콤마가 나온다.
#Hello만 추출
greeting3[0:5]

'Hello'

## 튜플(Tuple)
- 기초 문법이 중요함 (면접때 질문 받을 수 있음.)
- 튜플은 리스트와 유사함.

In [113]:
tuple1 = (1, 2, 3, 4)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4)
<class 'tuple'>

### 유사한 것
- 인덱싱과 슬라이싱이 동일

In [115]:
tuple_data = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(tuple_data[1]) # 인덱싱
print(tuple_data[0:3]) # 슬라이싱

1
(0, 1, 2)

### 차이점
- 리스트는 수정, 삭제가 가능.
- 튜플은 수정, 삭제가 불가.

In [117]:
l_data = [0, 1, 2, 3]
t_data = (0, 1, 2, 3)
l_data[3] = 30 # 숫자3 대신 30으로 바꿈
t_data[3] = 30 # 이러면 에러가 남. 튜플은 변치 않는 상수와 같은 역할을 함을 알 수 있음.

TypeError: ignored

In [118]:
I_data2 = [0, 1, 2, 3]
t_data2 = (0, 1, 2, 3)
del t_data2[3] # 위에서 언급했듯이 삭제도 불가.

TypeError: ignored