<a href="https://colab.research.google.com/github/Kongalmengi/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 함수 (p.158)
- 영어 : function, method

## split() : 문자열 분리

In [ ]:
coffee_menu_str = '에스프레소,아메리카노,카페라테,카푸치노' # 이것을 콤마 기준으로 분리하고 싶을 때, 어떻게 할 것인가?
coffee_menu_str.split(',') # 이렇게 하면 된다. 결과는 list형 결과가 나오는구나!

# 결과해석
# 내가 원하는 대로 결과가 나왔는가?
# 반환값, 리턴 자료형 확인

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [ ]:
'에스프레소,아메리카노,카페라테,카푸치노'.split(',') # 이렇게 문자열에 바로 split을 직접 이용 할 수도 있다.

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [ ]:
'에스프레소 아메리카노 카페라테 카푸치노'.split(' ') # 원소 분리 기준을 이렇게 공백으로 둘 수도 있다.

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [ ]:
phone_number = '+82-01-2345-6789'

# +82만 추출하기
print(phone_number.split('-')[0])

# 혹은 다음과 같이도 가능함.
result = phone_number.split('-')
print(result[0])

+82
+82

In [ ]:
# maxsplit, 매개변수(arguments, parameters)
phone_number.split('-', maxsplit=2) # 최대 스플릿 갯수를 규정할 수 있다. maxsplit=2는 최대 3개의 원소로 분리한다는 의미.

['+82', '01', '2345-6789']

## 문자열 삭제 : strip() : 필요 없는 문자열 삭제
- 앞 뒤 공백 혹은 개행문자와 같이 불필요한 부분을 삭제하고 싶은 경우에 사용

In [ ]:
tempText = 'Python '
tempText.strip( ) # 이렇게 하면 결과값에서 공백을 없앨 수 있다.

'Python'

In [ ]:
tempText2 = 'aaPythonaaa'
tempText2.strip('a') # 콤마 넣어주는 것을 잊지 말자. 문자열이라는 것을 확실히 넣어줘야 함. 안그럼 오류난다. a가 정의되지 않았다는 이유로.

'Python'

In [ ]:
tempText2 = 'aabbPythonbbaaa'
result = tempText2.strip('a')
result.strip('b') # 이렇게 2번 거쳐 제거할 수 있음.

'Python'

In [ ]:
tempText2 = 'aabbPythonbbaaa'
tempText2.strip('ab') # 이렇게도 된다. 그냥 지우고자 하는 문자를 단순히 나열하면 되는구나.
# 추가로 strip은 특수문자도 가능

'Python'

In [ ]:
tempText3 = '\n Python\n\n'
tempText3.strip(' \n') # 공백, \, n 모두 제거가 된다.

# lstrip() : 해당 텍스트의 왼쪽만 처리.
# rstrip() : 해당 텍스트의 오른쪽만 처리.

'Python'

## join() : 문자열 연결
- 더하기(+)연산자도 두 문자열 연결 가능.

In [ ]:
name1 = 'Miri'
name2 = 'Kevin'

hello = '님, 주소와 전화번호를 입력해 주세요.'
print(name1 + hello)
print(name2 + hello) # 이렇게 덧셈으로 직관적인 연결이 가능. 하지만 join 연산자를 활용할 수도 있음.

Miri님, 주소와 전화번호를 입력해 주세요.
Kevin님, 주소와 전화번호를 입력해 주세요.

In [ ]:
address_list = ['서울시', '중랑구', '용마산로', '111(우리집)']
#위의 리스트를 하나로 연결하여 하나의 텍스트로 만들고 싶음.
a = ' ' # 문자열에 공백을 넣은 것은, 문자열 중간중간에 빈 공간을 넣기 위함임.
a.join(address_list)

'서울시 중랑구 용마산로 111(우리집)'

- join을 활용할 때, '.'.join 이런 식으로 사용해도 된다. 정확히 말 하자면, 매개할만한 요소를 앞에 넣는 것이 포인트라는 것. 위에서처럼 꼭 변수를 지정하는 것이 필수는 아니라는 소리.

## find() : 문자열 찾기
- 문자열의 위치 값을 반환.

In [ ]:
str_f = 'Python code.'
print('찾는 문자열의 위치 :', str_f.find('n')) # 인덱스 위치값을 보여줌
print('찾는 문자열의 위치 :', str_f.find('Java')) # 결과값으로 -1이 나오는데, 이 경우는 해당 사항이 없다는 의미임.

찾는 문자열의 위치 : 5
찾는 문자열의 위치 : -1

- 과제 : find 위의 예시와 같은 결과물을 보여주는 다른 code를 짜볼 것.
- 점프 투 파이썬 - 문자열 포메팅 참조. 특히 11. format 함수를 사용한 포매팅, 12.f문자열 포매팅 마스터 할 것.

## count() : 찾고자 하는 문자열의 횟수 출력.
- 만약, 찾을 문자열이 없으면 0 출력

In [ ]:
str_c = 'Python is powerful. Python is easy to learn. Python is open.'
print("Python의 갯수는?", str_c.count('Python'))
print("Python의 갯수는?", str_c.count('powerful'))
print("Python의 갯수는?", str_c.count('Java'))

Python의 갯수는? 3
Python의 갯수는? 1
Python의 갯수는? 0

## startswith, endswith
- 각 문자열이 지정된 문자로 시작하는지, 끝나는지 검사할 때 사용.

In [ ]:
str_c = 'Python is powerful. Python is easy to learn. Python is open.'
print('Python으로 시작?', str_c.startswith('Python'))
print('Python으로 시작?', str_c.startswith('easy'))
print('Python으로 시작?', str_c.endswith('.'))
print('Python으로 시작?', str_c.endswith('!'))

Python으로 시작? True
Python으로 시작? False
Python으로 시작? True
Python으로 시작? False

## replace() : 문자열 바꾸기
- 지정한 문자열을 찾아서 바꾸는 메서드

In [ ]:
str_a = 'Python is fast. Python is friendly. Python is open.'
#Python을 IPython으로 변경
print(str_a.replace('Python', 'IPython'))

IPython is fast. IPython is friendly. IPython is open.

In [ ]:
str_b = '[Python][is][fast]'
str_b1 = str_b.replace('[', '')
str_b2 = str_b1.replace(']', ' ')
result = str_b2.rstrip() # rstrip이 왜 들어갔지? 공백 제거를 위함이라 함. rstrip이 없으면 공백이 나타난다고 함.
print(result)

Python is fast

# 리스트 함수 (p.54)
- 처음에 프로그래밍 공부할 때,
  + 1차는 교재 확인
  + 프로젝트 진행시 공식문서를 봐야 함.
- matplotlib에서 제공하는 코드 목록이 있다.(여기 참조하면 좋다 함.)
- Python에서 제공하는 data structure도 있고.(https://docs.python.org/3/tutorial/datastructures.html)

## append()
- 리스트에서 항목 하나를 맨 마지막에 추가.

In [ ]:
myFriends = ['Michael', 'Hanna', 'Kevin', 'Miri']
myFriends.append('Thomas')
print(myFriends)

# 위 문법과 비교
result = myFriends.append('Thomas')
print(result) # 이 부분은 none이 출력되는데, 문제가 있는 것은 아니다. 물론 이유가 확인된 바는 아닌데, Python의 한계 혹은 버그 정도로 여기면 됨.

['Michael', 'Hanna', 'Kevin', 'Miri', 'Thomas']

## extend()
- 리스트에서 항목 여러 개를 맨 마지막에 추가.

In [ ]:
myFriends = ['Michael', 'Hanna', 'Kevin', 'Miri']
myFriends.append('Thomas')

newFriends = ['A', 'B', 'C']
#myFriends.append(newFriends) 이렇게 하면 각각의 항목이 원소로 추가가 되는게 아니라, 아예 저 리스트 통째로 하나의 항목이 되어 추가됨.
myFriends.extend(newFriends)
myFriends

['Michael', 'Hanna', 'Kevin', 'Miri', 'Thomas', 'A', 'B', 'C']

## insert()
- 항목의 위치를 나타내는 인덱스 i에 data를 삽입

In [ ]:
myFriends = ['Michael', 'Hanna', 'Kevin', 'Miri']
myFriends.insert(1, "Sebastian") # 만약 숫자에 -1을 넣으면 맨 마지막에 삽입됨. 그런데 그렇게 하지 않더라도 맨 마지막에 삽입하고 싶으면 append()를 사용하면 됨.
print(myFriends)

['Michael', 'Sebastian', 'Hanna', 'Kevin', 'Miri']

# 클래스

## 함수
- 지금까지는 기존에 만들어진 함수만 이용.
- 이번에는 직접 함수를 만들어봄.
  + 의미있는 함수를 만드는 것이 프로젝트.
- 프로그래밍을 한다 = 프로그래밍 된 코드를 언제든지 재실행 할 수 있도록 준비하는 과정.
- 언제 함수를 만드는가?
  + 뭔가 반복적인 알고리즘이 있을 때, 이것을 함수화 하면 됨.

In [ ]:
# 함수의 구조 (p.116)
# 매개변수 = 인자
def 함수명([인자1, 인자2, ..., 인자n]):
  # 코드 블록 (코드블록 앞에 2칸 공백이 있어야 함. 이거 꼭 지켜야 함. 이 공백을 indentation이라 함. 공백 없으면 indentation error가 뜸.)
  return 값(결과값)

In [7]:
def mySum(a, b):
  c = a + b
  return c

a = 1
b = 1

result = mySum(a,b)
print(result) # 이런 코드 앞에 공백이 있으면 결과가 안나온다. 위의 함수 만들기에서 처럼 공백이 필요한 경우가 아니라면 공백이 없어야 함.

2

- 미션 : 뺄셈 함수 만들기

In [9]:
def mySubtract(e, f) :
  g = e - f
  return g

e = 3
f = 1

result = mySubtract(e,f)
print(result)

2

In [10]:
def mySubtract2(l, m):
  n = l - m
  return n

In [11]:
k = 1
result = mySubtract2(k) # 이렇게 하면 에러가 뜬다. m에 해당하는 변수가 갖춰지지 않았다는 에러.
print(result)

TypeError: ignored

In [13]:
def mySubtract3(h, i=0) : # i의 초기값이 정해졌으므로 이 함수의 필요 입력값(변수)은 h 1개 뿐이다. 만약 i를 0으로 정하고 싶으면 0을 넣어도 되는데, 보통은 i=None으로 넣는다.
  j = h - i
  return j
i = 10
result = mySubtract3(i)
print(result)

10

In [15]:
# return값 없는 함수 만들기
def my_func():
  print('My first function')
  print('This is a function!')

In [16]:
my_func()

My first function
This is a function!

In [17]:
result = my_func()
print(result) # 이렇게 결과를 정의하고 프린트하면 none으로 나오는데, 이는 해당 함수의 출력값이 없기 때문에 발생하는 현상. 쉽게 말 하면, a+b=c에서 c가 없는 함수인 것임. 그때문에 출력할 result가 없다.

My first function
This is a function!
None

### 변수의 유효 범위 p.121
- 지역변수 & 전역변수
- Local Variable, Global Variable

In [33]:
aa = 5 # 전역 변수
def func1():
  aa = 1 # 지역 변수
  print(f'func1 지역 변수 aa = {aa}') # f 문자열 포메팅에 대해 알아볼 것.
def func2():
  aa = 4 # 지역 변수
  print(f'func2 지역 변수 aa = {aa}')
def func3():
  print(f'func3 지역 변수 aa = {aa}')

print(f'변경 전 전역 변수 aa = {aa}') # 1번 프린트
# 랩뷰같은 경우에는 루프 같은 것으로 변수를 한정시켜줄 수 있는데, 여기서는 그런 경계가 어떻게 설정되는지?
# 함수를 거치지 않고 바로 aa를 호출했으니 aa=5가 나오는 것. 그러니까 함수를 새로 정의해주는 것으로 지역변수를 설정하는 것이다.
# 그런데 요 프린트 사항은 왜 아래에 안나오는거지? 나왔음. 결과물 제일 위에. 잘 살며보면 결과물이 이거 프린트 순서대로 나옴. 표시 순서를 주석으로 달겠음.

def func4():
  global aa # 함수 내 전역변수를 변경하기 위함 (aa를 전역변수로 만들겠다는 의미)
  aa = 500 # 지역 변수
  print(f'func4 지역 변수 aa = {aa}')


func1() # 2번 프린트
func2() # 3번 프린트
func3() # 4번 프린트
func4() # 5번 프린트
print(f'전역 변수 aa = {aa}') # 6번 프린트

변경 전 전역 변수 aa = 5
func1 지역 변수 aa = 1
func2 지역 변수 aa = 4
func3 지역 변수 aa = 5
func4 지역 변수 aa = 500
전역 변수 aa = 500

### 람다 함수
- def 함수 같은 경우에는 복잡한 함수로 로직을 만들 때 주로 사용
- 단순 기능을 수행할 때 lambda 함수
  + 함수를 한 줄로 처리

In [35]:
(lambda x : x ** 2)(3)

9

- (lambda 인자(=매개변수) : 인자를 활용한 코드)(원하는 인자 코드 입력)

In [38]:
mySquare = lambda x : x ** 2
mySquare(5)

25

In [37]:
def myPower(x):
  y = x ** 2
  print(y)

myPower(3)

9

## 클래스 선언과 객체 생성
- 교재 p.135
- 함수의 확장
- 함수와 클래스 비유적으로 비교
  + 함수 : 각 덧셈함수, 뺄셈함수, 곱셈함수 등...
  + 클래스 : 사칙연산 클래스. 예)계산기
  + 라이브러리 : 클래스들의 묶음.
    + 사칙연산 클래스
    + 미적분 클래스 등등...
    + 이것들을 묶으면 수학 라이브러리.

In [ ]:
# 자전거의 속성 : data (바퀴의 크기, 자전거 색상 등등...)
# 자전거의 동작 : method (= function), 지정된 속도로 이동, 좌/우 회전, 브레이크 기능 등등...

In [ ]:
class Bicycle() : # 클래스 선언
  # 클래스 변수
  데이터1 = 바퀴의 크기
  데이터2 = 자전거의 색상

  # 클래스 메서드
  def 속도():
    pass

  def 방향():
    pass

  def 정지():
    pass
# 이것이 기본 구조.

객체명 = Bicycle(데이터1, 데이터2) # 입력한 형태로 새로운 객체가 생김.

# 상상
벤츠자전거 = Bicycle(데이터1, 데이터2) # 매장 옵션

# 문의
# 벤츠자전거 하늘로 비행하나요? 불가합니다.

In [ ]:
fruits = [1, 2, 3, 4, 5, 6, 7]
# count() 동작을 만듬.
fruits.count(4)

# 리스트에 숫자가 있음.
# 숫자를 모두 더하고 싶어요.
# 리스트에는 숫자 더하기 기능이 없습니다.

## 리스트에 덧셈함수를 넣고싶다.
- 오픈소스 컨트리뷰터.
- 쉽게 말하면 유용한 소스 만드는 사람. 직접적인 개발자가 되는 것임.

### why Class? 프로그래밍 관점

In [41]:
result = 0
def add(num):
  global result

  result = result + num # 결과값(result)에 입력값(num) 더하기
  return result

print(add(3)) # +5 >> 8
print(add(5))

# 그런데 위와 같은 기능이 반복적으로 필요할 때는? 같은 기능을 수행하는 함수가 중복될 수 있다. / 코드의 가독성이 매우 급격하게 떨어지기 시작.

3
8

In [43]:
class Calculator :

  def __init__(self):
    self.result = 0 # result 값을 초기화

  # 클래스 메서드
  def add(self, num):
    self.result = self.result + num
    return self.result # 이렇게 완성된 코드는 랩뷰의 루프와 같은 기능을 함.

cal1 = Calculator() #인스턴트화, 계산기 번호1. 추가로 빈 괄호로 두는 경우에 대해서도 좀 생각해보자.

print(cal1.add(3))
print(cal1.add(5))
# 이거 전체적으로 코드가 무슨 의미인지 다시 한 번 읽어보자.

3
8

In [44]:
class Calculator :

  def __init__(self):
    self.result = 0 # result 값을 초기화

  # 클래스 메서드
  def add(self, num):
    self.result = self.result + num
    return self.result # 이렇게 완성된 코드는 랩뷰의 루프와 같은 기능을 함.

cal1 = Calculator() #인스턴트화, 계산기 번호1. 추가로 빈 괄호로 두는 경우에 대해서도 좀 생각해보자.
cal2 = Calculator() #인스턴트화, 계산기 번호2

# 코드가 독립적으로 구현되면서 동시에 실행이 되고 있음.
# 코드를 연속적으로 만들 필요 없이, 설정한 class를 불러오는 것으로 간단하게 반복 구현 가능.
# 기능은 덧셈기능
# 더 설명하자면, 함수 디파인과 같은 기능인데, 디파인을 이용한 경우에는 코드가 길어짐. 그리하여 한 번만 디파인을 해놓고 class로 설정해놓으면 간단하게 불러올 수 있다는 의미.

print(cal1.add(3))
print(cal1.add(5))
# 이거 전체적으로 코드가 무슨 의미인지 다시 한 번 읽어보자.
# 참고로 라이브러리 문서를 여기서는 attribute라고 한다.

3
8

### 객체 초기화
- `__int__()` : 객체 생성과 동시에 속성값을 지정할 수 있다.
  + 주로 클래스 선언시 변수 초기화

In [46]:
class Bicycle():
  # 변수 초기화
  def __init__(self, wheel_size, color):
    self.wheel_size = wheel_size
    self.color = color

  def stop(self):
    print('자전거{0}, {1}) : 정지'.format(self.wheel_size, self.color))

In [47]:
my_bicycle = Bicycle(26, 'black')
ur_bicycle = Bicycle(30, 'pink')

my_bicycle.stop()
ur_bicycle.stop()